/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
	.log-in-main__left-inner { 
		width: 90%; 
		padding: 0 30px 80px 30px;
	}

	.fa-eye { right: -25px; }

	.log-in-main__form-inner {
		justify-content: center;
		flex-direction: column;
	}
	
	.log-in-main__form-block { margin-bottom: 10px; }

	.log-in-main__form-block:last-child { margin-bottom: 0; }

	.log-in-main__input { width: 100%; }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
	.log-in-main__right span { font-size: 20px; }

	.log-in-main__right h1 { font-size: 60px; }
	
	.log-in-main__geom .log-in-main__geom-vr { width: 3px; }
	
	.log-in-main__geom .log-in-main__geom-vr.log-in-main__vr_active { height: 90px; }

	.log-in-main__geom span { top: 20px; font-size: 20px; }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.log-in-main__inner {
		justify-content: center;
		flex-direction: column;
	}

	.log-in-main {
		overflow: unset;
		height: auto;
	}

	.log-in-main__left {  }

	.log-in-main__geom, .log-in-main__right span { display: none; }

	.log-in-main__left {
		width: 90%;
		height: auto;
		padding: 30px 20px 20px 20px;
		border-radius: 10px;
		padding-bottom: 20px;
		margin-bottom: 70px;
	}
	
	.log-in-main__right {
		height: auto;
		width: 100%;
		padding: 20px 0 10px 0;
	}

	.log-in-main__right h1 { font-size: 30px; }

	.fa-eye { right: -30px; }

	.log-in-main__form-block { margin-bottom: 20px; }

	.log-in-main__form-block:last-child { margin-bottom: 0; }

	.log-in-main__left-inner { padding-bottom: 0; }
}