@import "../common/base.css" screen;
@import "../common/fonts.css" screen;
@import "../common/header.css" screen;
@import "../common/footer.css" screen;

.delete-account__heading h3 {
    font-size: 19px;
}

.delete-account button {
    padding: 4px 20px;
    background: #1a54e7;
    color: #fafafa;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
    border: none;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}